<section id="formations">
    <br>
    <br>
   
    <h2 class="text-center h1 py-3">
        <strong>Formations</strong>
    </h2>
    <br>

    <ul class="text-center" *ngFor="let formation of formations">
        <div class="mx-auto ">
            <div class="align-top wow fadeInLeft d-inline-block align-bottom" style="padding-right:30px;padding-left:30px" data-wow-delay="0.5s">
                <img src={{formation.image}}
                class="img-fluid rounded rounded z-depth-1
             d-block" width="300" alt="Responsive image">
            </div>
            <div class="align-bottom wow fadeInRight card d-inline-block" style="width: 35rem;">
                <div class="card-body">
                    <h5 class="card-title">{{formation.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{formation.date}}</h6>
                    
                    <p>{{formation.description}}</p>
                    
                </div>
            </div>
        </div>
    </ul>
</section>