<section id="competences">
    <br>
    <br>
   
    <h2 class="text-center h1 py-3">
        <strong>Compétences</strong>
    </h2>
    <br>

    <h3 class="text-center h2">
        <strong>Langages</strong>
    </h3>
    <br>
    <div class="row text-center">
    <div class="mx-auto">
        <div class="d-inline-block" *ngFor="let competence of competences">
            <div style="padding:30px" *ngIf="competence.langage">
                <circle-progress 
                [percent]=competence.pourcentage
                [imageSrc]=competence.image
                [outerStrokeColor]= "'#E12D14'"
                >
                </circle-progress>
            </div>
        </div>
    </div>
    </div>
    <h3 class="text-center h2">
        <strong>Outils</strong>
    </h3>
    <br>
    <div class="row text-center">
    <div class="mx-auto">
        <div class="d-inline-block" *ngFor="let competence of competences">
            <div style="padding:30px" *ngIf="competence.outil">
                <circle-progress 
                [percent]=competence.pourcentage
                [imageSrc]=competence.image
                [outerStrokeColor]= "'#2243E7'"
                >
                </circle-progress>
            </div>
        </div>
    </div>
    </div>
    <h3 class="text-center h2">
        <strong>Langues</strong>
    </h3>
    <br>
    <div class="row text-center mx-auto">
    <div class="mx-auto">
        <div class="d-inline-block" *ngFor="let competence of competences">
            <div style="padding:30px"  *ngIf="competence.langue">
                <circle-progress 
                [percent]=competence.pourcentage
                [imageSrc]=competence.image
                [outerStrokeColor]= "'#78C000'"
                >
                </circle-progress>
            </div>
        </div>
    </div>
    </div>

</section>
