<nav class="fixed-top navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a [ngx-scroll-to]="'#profil'" class="navbar-brand" style="color:#fff">Portfolio</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a [ngx-scroll-to]="'#formations'" class="nav-link">Formations</a>
      </li>
      <li class="nav-item">
        <a [ngx-scroll-to]="'#projets'" class="nav-link">Projets</a>
      </li>
      <li class="nav-item">
        <a [ngx-scroll-to]="'#competences'" class="nav-link">Compétences</a>
      </li>
    </ul>
  </div>

</nav>